<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>{{todoitemslist.name}}</h1>
            <div>
                <p><a href="{% url 'todo_list_update' todoitemslist.id %}">Edit</a></p>
                <p><a href="{% url 'todo_list_delete' todoitemslist.id %}">Delete</a></p>
            </div>
            <h2>Tasks</h2>

            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todotasks in todoitemslist.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todotasks.id %}">{{todotasks.task}}</a></td>
                        <td>{{todotasks.due_date|date:"M d, Y"}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>
